*
!/application/bin/
!/application/config/
!/application/src/
!/application/templates/
!/application/public/index.php
!/application/public/.htaccess
!/application/public/resources/.gitignore
!/.env*
!/application/composer.*
!/application/symfony.lock
!/apache-vhost.conf
